<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">

          {% if site.title != '' %}
          <h1 class="text-center">{{site.title}}</h1>
          {% endif %}

          {% if site.description != '' or site.enable_contact == true %}
          <p class="text-center">
            {% if site.description != '' %}
            {{site.description}}
            {% endif %}

            {% if site.enable_contact == true %}
            {% include contact.html %}
            {% include contact-modal.html %}
            {% endif %}
          </p>
          {% endif %}

          <p class="text-center">

            {% if site.twitter_username != '' %}
              <a href="https://twitter.com/{{ site.twitter_username }}">twitter,</a>
            {% endif %}

            {% if site.resume != '' %}
              <a href="Michelle_Julia_resume PM.pdf">resume,</a>
            {% endif %}

            {% if site.linkedin_username != '' %}
              <a href="https://linkedin.com/in/{{ site.linkedin_username }}">linkedin</a>
            {% endif %}

          </p>

        </div>

      </div>

    </div>

  </div>

</div>
